* {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {

    --cols: 7;
    --rows: 6;
    --COLS: var(--cols);
    --ROWS: var(--rows);
    --size: min(calc(95vw / var(--COLS) - 10px), calc(81.42vh / var(--ROWS) - 10px), calc(1200px / var(--COLS) - 10px));
}

body {
    background: #123;
}









.red, .player1 {
    background-color: red;
}

.yellow, .player2 {
    background-color: yellow;
}

main {
    display: flex;
    justify-content: center;
}

[data-player="1"] {
    color: red;
}

[data-player="2"] {
    color: yellow;
}


@media (max-width: 1200px) and (orientation: portrait) {
    main {
        flex-direction: column;
        align-items: center;
    }
}





